@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{  /* this is how to create a simple variabel to be usewd everywhere */
    --primary-color:#0478ed;
    --secondary-color:#1c3fa8;
    --dark-color:#002240;
    --light-color:#f4f4f4;
}

/* background and color buttons */
.bg-primary, .btn-primary{
    background-color: var(--primary-color);
    color: white;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary-color);
    color: white;
}
.bg-dark, .btn-dark{
    background-color: var(--dark-color);
    color: white;
}
.bg-light, .btn-light{
    background-color: var(--light-color);
    color: #333;
}



/* Text color */
.text-primary, .text-primary{
   color: var(--primary-color);
   
}
.text-secondary, .text-secondary{
    color: var(--secondary-color);
    
}
.text-dark, .text-dark{
    color: var(--dark-color);
    
}
.text-light, .text-light{
   color: var(--light-color);
  
}




.btn-outline{
    background-color: transparent;
    border: 1px white solid;

}

.btn:hover{
    transform: scale(.98); /* In scale 1 is the deafult size */
}


.showcase .grid{
    /* grid-template-columns: 50% 45%; */
    gap: 30PX;
    overflow: visible;   /* the form was overflowing under the showcase and we had to add this to get rid of the scrollbar that got created due to that and this make it visible and on top  */
  
}


/* Hidden fake field for chatbots */
.hidden{
    visibility: hidden;
    height: 0;
}

/* Navbar */

.navbar{
    background-color: var(--primary-color);
    color: white;
    height: 70px;
    
}



.navbar .flex{
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{  /* this is to create the line under the nav menus */
    border-bottom: 2px #fff solid;
}


/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
  
   
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}

.showcase::before,.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
   
}

/* stats */
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}
.stats .grid p{
    font-size: 20px;
}

/* showcase */

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}


.showcase-form{
    position: relative;
    
    top: 60px;
    height:360px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
    
}


.showcase-form .form-control{
    margin: 30px 0;
}
  
.showcase-form input[type='text'],
.showcase-form input[type='email']{ /* this is how you trget the input but just teh text input by declaring the type */

    /* this next gets rid of the default square border on the input boxex and the we only add a border to the bottom side */
   border: 0;
   border-bottom: 1px solid #b4becb;
   padding: 3px;
   font-size: 16px; 

}

.showcase-form input:focus{ /* this will get rid of the square outline around the text box when they are click meaning when they focus */
    outline: none;
}



.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    animation: slideInFromLeft 1s ease-in;

}

.cli .grid > *:first-child{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}


/* Cloud */

.cloud .grid{
    grid-template-columns: 4fr 3fr;
    animation: slideInFromRight 1s ease-in;
}

/* Languages */
.languages .flex{

    flex-wrap: wrap;

}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;   /* this is to make the hover animation slower and more smoth */
}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}


.languages .card:hover{
    transform: translateY(-15px); /* this is similiar to the effect on the buttons but  */
}


/* footer */

.footer .social a{
    margin: 0 10px;
}


/* Features HEAD */

.features-head img, .docs-head img {
    width: 200px;
    justify-self: flex-end;  /* this would just make the image be puish to the end of its grid part */
}


.features-sub-head img{
    width: 300px ;
    justify-self: flex-end;
}

.features-main .card > i{ /* this will put a margin in the first item in that area which is i */
    margin-right: 20px;
}


.features-main .grid{
    padding: 30px;
  
}



.features-main .grid> *:first-child{
    grid-column: 1/span 3;
    
   
}


.features-main .grid> *:nth-child(2){
    grid-column: 1/span 2;
   
}



/* Docs page */
.docs-main h3{
    margin: 20px 0;

}

.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li{
    font-size: 17px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main nav a:hover{
    font-weight: bold;
}

code,pre{
    background: #333;
    color: white;
    padding: 10px;

}



/* Animations */
/* Homepage */
/* we are gonna be using keyframes */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}




/* Media queries*/
/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form{
        justify-self: center;
        animation: slideInFromBottom 1s ease-in;
    }


    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;

    }
    
    .features-head img,
    .features-sub-head img,
    .docs-head img {
       justify-self: center;
        
    }

    .features-main .grid{
        display: none;
        display:flex;
        flex-direction: column;
       
    }
  
}


/* Mobile */
@media (max-width: 500px) {
    
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
